*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary-red: hsl(4, 100%, 67%);
  --color-neutral-blue-800: hsl(234, 29%, 20%);
  --color-neutral-blue-700: hsl(235, 18%, 26%);
  --color-neutral-grey: hsl(0, 0%, 58%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(./assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

.newsletter {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--color-neutral-white);
  margin: 0;
}

.newsletter__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.newsletter__content {
  padding: 20px;
}

.newsletter__title {
  color: var(--color-neutral-blue-800);
  font-family: 'Roboto-Bold';
}

.newsletter__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.newsletter__list-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 10px;
}

.newsletter__form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-self: center;
  gap: 20px;
  width: 100%;
}

.newsletter__form-control {
  position: relative;
}

.newsletter__label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-neutral-blue-700);
}

.newsletter__input {
  border: 1px solid var(--color-neutral-grey);
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  background-color: inherit;
  color: inherit;
}

.newsletter__input:invalid {
  border-color: var(--color-primary-red);
}

.newsletter__error {
  font-size: 12px;
  color: var(--color-primary-red);
  font-weight: bold;
  position: absolute;
  top: 2px;
  right: 20px;
  display: none;
}

.newsletter__button {
  font: 'Roboto-Bold';
  color: var(--color-neutral-white);
  background-color: var(--color-neutral-blue-800);
  padding: 20px 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 768px) {
  html {
    background-color: var(--color-neutral-blue-800);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .newsletter {
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .newsletter__content {
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }
}
